@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
:root{
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071FF;
  --text-color: #c9c9c9;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after{
  box-sizing: inherit;
}

html{
  font-family: Poppins, 'Segoe UI', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth; /*For bookmark links*/
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--primary-color);
}

header{
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px 20px;
  text-align: center;
  color: var(--text-color);
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--primary-color);
  border-radius: 15px;
  transition: all 300ms ease-in-out;
}

header h1{
  font-size: 40px;
  font-weight: 600;
  font-weight: bold;
}

header p{
  font-size: 1.2em;
  margin-top: .5em;
  text-decoration: solid underline var(--accent-color);
}

header:hover{
  background-color: var(--hover-color);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  transform: translateY(-5px);
}

main{
  padding: min(5em, 7%);
}

main p{
  margin-top: .35em;
}

nav{
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
}

nav ul{
  list-style: none;
  display: flex;
}

nav .home-li{
  margin-right: auto;
}

nav li{
  display: flex;
}

nav li a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: none; /* Remove persistent border */
}

nav li a:hover{
  color: var(--accent-color);
  background-color: var(--hover-color);
  border-bottom: 2px solid var(--text-color);
}

nav li a.active-link{
  font-weight: 600;
  font-weight: bold;
  background-color: transparent; /* Pour enlever le fond de l'élément actif */
  border-bottom: 2px solid var(--accent-color); /* Pour garder la bordure active */
}

nav a.accent-link{
  background-color: var(--accent-color);
}