body {
    display: flex;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #b7b7b7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('premium_photo-1675826774817-fe983ceb0475.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: -1;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

p {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 525px;
    color: #ffffff;
}

.clock {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    width: 90%;
    text-align: center;
    color: #00fffb;
    transition: all 0.3s ease-in-out;
    box-sizing:content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-shadow: 0 0 12px rgba(0, 255, 255, 0.8);
}

.clock:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.8);
    cursor: pointer;
}

.date {
    font-size: 30px;
    margin-top: 0px;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.toggle-button {
    background-color: #00fffb;
    color: #000000;
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
    margin-left: 20px;
}

.toggle-button:hover {
    background-color: #00e6e6;
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.8);
}