p {
        color: darkblue;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font: italic bold 35px Arial, sans-serif;
        text-decoration: underline;
        text-align: center;
}

body {
        background-color: lightblue;
        background-image: url(Laser_Towards_Milky_Ways_Centre.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: repeat-x;
        background-repeat: repeat-y;
        background-repeat: no-repeat;
}

form {
        color: white;
}

h3 {
        color: purple;
}

h3 ul {
        text-decoration: underline;
}

nav ul {
        background-color: lightskyblue;
        width: 100%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 20px;
}

nav ul li {
        background-color: lightskyblue;
        display: inline;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
}

nav ul li a {
        text-decoration: none;
        color: darkblue;
        font-weight: bold;
}

nav ul li a:hover {
        color: darkred;
}

nav ul li a:visited {
        color: darkgreen;
}